.cart-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-around;
  align-items: center;
  padding: 10px;
}
.cart-container img {
  width: 45%;
  border-radius: 60px;
}
.cart-container .cart-btn {
  border: none;
  /* background-color: blue; */
  font-size: 15px;
  background: none;
  padding: 5px;
}
