.cart-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  padding: 10px;
  border: 1px solid brown;
  margin-bottom: 5px;
}
.cart-container img {
  width: 45%;
  border-radius: 60px;
}
.cart-container .cart-btn {
  border: none;
  font-size: 15px;
  background: none;
  padding: 5px;
}

@media screen and (max-width: 668px) {
  .cart-container {
    display: grid;
    grid-template-columns: 1fr;
  }
}
