.product-container {
  display: grid;
  grid-template-columns: 65% 25%;
  margin-top: 10px;
  grid-gap: 10px;
  justify-content: center;
}
.glasses {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}
.cart {
  position: sticky;
  top: 0;
  height: 100vh;
  background-color: rgba(162, 219, 219, 0.712);
}
@media screen and (max-width: 668px) {
  .glasses {
    grid-template-columns: repeat(1, 1fr);
  }
}
